//滚动条容器
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: #ffffff;
    border-radius: 7px;
}
// 外层轨道
::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #ffffff;
    //background-color: green;
    border: none;
}
::-webkit-scrollbar-track-piece{
    //display: none;
    //background-color: red;
    border: none;
}
//滚动条的滑块
::-webkit-scrollbar-thumb {
    background-color: #efefef;
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #e4e4e4;
}

//去掉横向滚动条横线
.el-table--border::after, .el-table--group::after, .el-table::before{
    display: none;
}

//去掉input类型为number时，上下箭头
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}
input[type=‘number’] {
    -moz-appearance: textfield !important;
}








.el-scrollbar__view{
    height: 100%;
}
